PORT=3000
NODE_ENV=development

# MySQL and phpMyAdmin environment variables
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=ensto_db
MYSQL_USER=ensto_user
MYSQL_PASSWORD=ensto_pass
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
ENCRYPTION_KEY=default-32-character-secret-key!
PMA_USER=ensto_user
PMA_PASSWORD=ensto_pass